<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/project.css' />
</head>

<body>
  <main>
    <header>
      <section>
        <h3>Welcome to Users Module</h3>
      </section>
    </header>

    <section class="login-section">
      <h5>Existing Users</h5>
      <button type="button">Login</button>
    </section>

    <form class="welcome-register" action="/register" method="get">
    <section class="register-section">
      <h5>New Users</h5>
      <button type="submit" name="btn-reg">Register</button>
    </section>
  </form>
  </main>
</body>

</html>